@using FTP_Client.Models
@using FTP_Client.Helpers
@using System.IO
@using System.Text.RegularExpressions
@using System.Web
@model List<string>

@{
    Layout = null;
}

<div class="card-body">
    @if(Model == null || Model.Count == 0)
    {
        <input type="text" class="form-control" value="Computer" readonly id="fullPathInput" />
    }
    else if(Regex.IsMatch(Model.FirstOrDefault(), @"^[A-Za-z]{1,2}:\\$"))
    {
        <input type="text" class="form-control" value="Computer" readonly id="fullPathInput" />
    }
    else
    {
        <input type="text" class="form-control" value="@System.IO.Path.GetDirectoryName(Model.FirstOrDefault())" readonly id="fullPathInput" />
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox-select-all" class="form-check-input" oninput="checkOrUnCheckAll(event)" />
                    </div>
                </th>
                <th></th>
                <th>File Name</th>
                @*<th>Last Date Modified</th>
                    <th>Size</th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
                <td>
                    <img src="~/imgs/upload.png" width="25" height="25" draggable="false" />
                </td>
                <td title="Go Up one Directory"><a href="javascript:void(0);" onclick="back()"><b>Back</b></a></td>
            </tr>
            @foreach (var file in Model)
            {
                if (Regex.IsMatch(file, @"^[A-Za-z]{1,2}:\\$"))
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input local-check-box" oninput="checkOrUnCheckOne(event)" />
                        </td>
                        <td>
                            <img src="~/imgs/hard-disk.png" width="20" height="20" draggable="false" />
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="navigateLocal('@TempData["ConnectionID"]','@(Regex.Escape(file))')">@file</a>
                        </td>
                    </tr>
                }
                else if (string.IsNullOrEmpty(System.IO.Path.GetExtension(file)))
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input local-check-box" oninput="checkOrUnCheckOne(event)" />
                        </td>
                        <td>
                            <img src="~/imgs/folder.png" width="20" height="20" draggable="false" />
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="navigateLocal('@TempData["ConnectionID"]','@(Regex.Escape(HttpUtility.UrlEncode(file)))')">@(System.IO.Path.GetFileName(file))</a>
                        </td>
                    </tr>
                }
                else if (System.IO.Path.GetExtension(file) == ".pdf")
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input local-check-box" oninput="checkOrUnCheckOne(event)" data-file-path="@(Regex.Escape(HttpUtility.UrlEncode(file)))" />
                        </td>
                        <td>
                            <img src="~/imgs/pdf.png" width="20" height="20" draggable="false" />
                        </td>
                        <td>
                            <a href="">@(System.IO.Path.GetFileName(file))</a>
                        </td>
                    </tr>
                }
                else if(Utility.IsImage(file))
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input local-check-box" oninput="checkOrUnCheckOne(event)" data-file-path="@(HttpUtility.UrlEncode(file))" />
                        </td>
                        <td>
                            <img src="~/imgs/picture.png" width="20" height="20" draggable="false" />
                        </td>
                        <td>
                            <a href="javascript:void(0);" >@(System.IO.Path.GetFileName(file))</a>
                        </td>
                    </tr>
                }
                else if(Utility.IsFile(file))
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input local-check-box" oninput="checkOrUnCheckOne(event)" data-file-path="@(HttpUtility.UrlEncode(file))" />
                        </td>
                        <td>
                            <img src="~/imgs/document.png" width="20" height="20" draggable="false" />
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="viewContent('@(Regex.Escape(HttpUtility.UrlEncode(file)))')">@(System.IO.Path.GetFileName(file))</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input local-check-box" oninput="checkOrUnCheckOne(event)" data-file-path="@(HttpUtility.UrlEncode(file))" />
                        </td>
                        <td>
                            <img src="~/imgs/document.png" width="20" height="20" draggable="false" />
                        </td>
                        <td>
                            <a href="javascript:void(0);">@(System.IO.Path.GetFileName(file))</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>