@using FTP_Client.Models
@using System.IO
@using System.Text.RegularExpressions
@using System.Web
@model List<string>

@{
    Layout = null;
}

<div class="card-body">
    @if(Model == null || Model.Count == 0)
    {
        <input type="text" class="form-control" value="Remote Server" readonly id="fullPathInputRemote" />
    }
    else
    {
        <input type="text" class="form-control" value="@System.IO.Path.GetDirectoryName(Model.FirstOrDefault())" readonly id="fullPathInputRemote" />
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" />
                    </div>
                </th>
                <th></th>
                <th>File Name</th>
                @*<th>Last Date Modified</th>
                    <th>Size</th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
                <td>
                    <img src="~/imgs/upload.png" width="25" height="25" draggable="false" />
                </td>
                <td title="Go Up one Directory"><a href="javascript:void(0);" onclick="backRemote('@TempData["ConnectionID"]')"><b>Back</b></a></td>
            </tr>
            @foreach (var file in Model)
            {
                if (string.IsNullOrWhiteSpace(System.IO.Path.GetExtension(file)))
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input" />
                        </td>
                        <td>
                            <img src="~/imgs/folder.png" width="20" height="20" draggable="false" />
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="navigateRemote('@TempData["ConnectionID"]', '@Regex.Escape(HttpUtility.UrlEncode(file))')">@(System.IO.Path.GetFileName(file))</a>
                        </td>
                    </tr>
                }
                else if (System.IO.Path.GetExtension(file) == ".pdf")
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input" />
                        </td>
                        <td>
                            <img src="~/imgs/pdf.png" width="20" height="20" draggable="false" />
                        </td>
                        <td>
                            <a href="">@(System.IO.Path.GetFileName(file))</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input" />
                        </td>
                        <td>
                            <img src="~/imgs/document.png" width="20" height="20" draggable="false" />
                        </td>
                        <td>
                            <a href="">@(System.IO.Path.GetFileName(file))</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>